<div class="container">
    <div class="well">
    <h1>Welcome to Olivias Toybox</h1>
  <h3> A blended learning experience for you and your child</h3>
 <div><%= image_tag("Poster21.png", :class => "img-responsive") %></div>
  </div>
  

    
    
</div>